---
import UsuarioLayout from "@/layouts/UsuarioLayout.astro";
import Back from "@/components/icons/Back.astro";
import Chat from "@/components/usuario/Chat";
const cookies = Astro.cookies;
const userSessionCookie = cookies.get("user_sesion");
let data = null;
if (userSessionCookie && userSessionCookie.value) {
  try {
    data = JSON.parse(userSessionCookie.value);
    console.log(data);
  } catch (error) {
    console.error("Error al parsear la cookie:", error);
  }
}
---

<UsuarioLayout>
  <h1 class="font-semibold md:7 md:mt-14 mb-4 md:mb-10 text-lg">
    Mis conversaciones
  </h1>
  <a
    href="/usuario/perfil"
    class="flex items-center my-2 font-semibold hover:text-gray-500"
    ><Back /> Atras</a
  >

  <div
    class="w-full flex gap-2 mb-7 p-1 md:p-4 flex-col font-font-cust-2 overflow-auto max-h-96">
    <Chat client:visible usuario={data} />
  </div>
</UsuarioLayout>
