---
import Back from "@/components/icons/Back.astro";
import UsuarioLayout from "@/layouts/UsuarioLayout.astro";
import UpdateProfile from "@/components/usuario/UpdateProfile";
const cookies = Astro.cookies;
const userSessionCookie = cookies.get("user_sesion");
const userSessionString = userSessionCookie ? userSessionCookie.value : null;
import type { DatosUsurio } from "@/types/types";
let data: DatosUsurio | null = null;
try {
  data = userSessionString ? JSON.parse(userSessionString) : null;
} catch (error) {
  console.error("Error parsing cookie JSON:", error);
}
---

<UsuarioLayout userSesion={data}>
  <h1 class="font-semibold mt-7 md:mt-14 mb-10 text-lg pt-10">
    Actualizar datos
  </h1>
  <a
    href="/usuario/perfil"
    class="flex items-center my-2 font-semibold hover:text-gray-500"
    ><Back /> Atras</a
  >
  <div class="w-full md:w-[80%] mx-auto">
    <UpdateProfile client:visible />
  </div>
</UsuarioLayout>
