---
import UsuarioLayout from "@/layouts/UsuarioLayout.astro";
import Back from "@/components/icons/Back.astro";
import { getOrdersBy } from "@/services/user";
import type { PedidosResponse } from "@/types/types";
import { priceFormated } from "@/utils";
const cookies = Astro.cookies;
const userSessionCookie = cookies.get("user_sesion");
const userSessionString = userSessionCookie ? userSessionCookie.value : null;
let data = null;
let pedidos: PedidosResponse | null = null;
try {
    data = userSessionString ? JSON.parse(userSessionString) : null;
    if (data && data.id) {
        pedidos = await getOrdersBy(data.id);
    }
} catch (error) {
    console.error("Error parsing cookie JSON:", error);
}
---

<UsuarioLayout>
    <h1 class="font-semibold md:7 md:mt-14 mb-4 md:mb-10 text-lg">
        Mis compras
    </h1>
    <a
        href="/usuario/perfil"
        class="flex items-center my-2 font-semibold hover:text-gray-500"
        ><Back /> Atras</a
    >

    <div
        class="w-full flex gap-2 mb-7 p-1 md:p-4 flex-col font-font-cust-2 overflow-auto max-h-96">
        {
            pedidos && pedidos.pedidos && pedidos.pedidos.length > 0 ? (
                pedidos.pedidos.map((pedido, index) => (
                    <article class="overflow-x-auto">
                        <div class="relative overflow-auto">
                            <table class="w-full text-xs md:text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-auto">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th
                                            scope="col"
                                            class="px-6 py-3 rounded-s-lg">
                                            # pedido
                                        </th>
                                        <th scope="col" class="px-6 py-3 ">
                                            Nombre del producto
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Cantidad
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Referencia
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            {" "}
                                            Valor U.N
                                        </th>
                                        <th
                                            scope="col"
                                            class="px-6 py-3 rounded-e-lg">
                                            {" "}
                                            Estado de pedido
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white dark:bg-gray-800">
                                        <th
                                            scope="row"
                                            class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                                            {index + 1}
                                        </th>
                                        <th
                                            scope="row"
                                            class="px-6 py-4 font-medium text-balance text-gray-900 whitespace-nowrap dark:text-white">
                                            {
                                                pedido.detalles_pedido[0]
                                                    .Producto.nombre
                                            }
                                        </th>
                                        <td class="px-6 py-4">
                                            {" "}
                                            {pedido.detalles_pedido[0].cantidad}
                                        </td>
                                        <td class="px-6 py-4">
                                            {" "}
                                            {
                                                pedido.detalles_pedido[0]
                                                    .Producto.referencia
                                            }
                                        </td>
                                        <td class="px-6 py-4">
                                            {priceFormated(
                                                pedido.detalles_pedido[0]
                                                    .Producto.valor,
                                            )}
                                        </td>
                                        <td class="px-6 py-4 capitalize">
                                            {pedido?.estado_pedido ||
                                                "Sin estado"}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="font-semibold text-gray-900 dark:text-white">
                                        <th
                                            scope="row"
                                            class="px-6 py-3 text-sm md:text-base">
                                            Total
                                        </th>
                                        <td class="px-6 py-3">
                                            {priceFormated(pedido.pago_total)}
                                        </td>
                                    </tr>
                                    <tr class="font-semibold text-gray-900 dark:text-white">
                                        <th
                                            scope="row"
                                            class="px-6 py-3 text-sm md:text-base">
                                            Costo de envio
                                        </th>
                                        <td class="px-6 py-3">
                                            {priceFormated(
                                                pedido.costo_de_envio,
                                            )}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <hr class="mb-4" />
                        </div>
                    </article>
                ))
            ) : (
                <p class="text-gray-500 text-sm md:text-base">No hay pedidos</p>
            )
        }
    </div>
</UsuarioLayout>
