---
import UsuarioLayout from "@/layouts/UsuarioLayout.astro";
const cookies = Astro.cookies;
import type { DatosUsurio } from "@/types/types";
const authToken = cookies.get("access_token");
const userSessionCookie = cookies.get("user_sesion");
const userSessionString = userSessionCookie ? userSessionCookie.value : null;
let data: DatosUsurio | null = null;
if (!authToken) {
  return Astro.redirect("/");
}
try {
  data = userSessionString ? JSON.parse(userSessionString) : null;
} catch (error) {
  console.error("Error parsing cookie JSON:", error);
}
---

<UsuarioLayout userSesion={data}>
  <h1 class="font-semibold  md:mt-7 lg:mt-14 mb-4 md:mb-10 text-lg pt-10">
    Perfil
  </h1>
  <div class="w-full flex  mb-7 sm:gap-5 gap-10 md:gap-72">
    <div class="flex gap-3 flex-col">
      <div class="flex flex-col">
        <p class="font-bold text-sm">Nombre</p>
        <p class="text-sm text-[#8e8e8e]">{data?.nombre}</p>
      </div>
      <div class="flex flex-col">
        <p class="font-bold text-sm">Direccion de envio</p>
        <p class="text-sm text-[#8e8e8e]">
          {data?.direccion || "No tienes una direccion registrada"}
        </p>
      </div>
    </div>
    <div class="flex gap-3 flex-col">
      <div class="flex flex-col ">
        <p class="font-bold text-sm">Correo electronico</p>
        <p class="text-sm text-[#8e8e8e] text-balance ">{data?.email}</p>
      </div>
      <div class="flex flex-col">
        <p class="font-bold text-sm">Telefono</p>
        <p class="text-sm text-[#8e8e8e] text-balance">
          {data?.telefono || "No tienes un telefono registrado"}
        </p>
      </div>
    </div>
  </div>
  <div class="w-full bg-[#e0e0e0] p-3 min-w-[90%]">
    <strong>¡Nota!</strong>
    <p class="text-sm text-pretty">
      Si tu inicio de sesión es realizado a través de una cuenta de Google, los
      datos actualizados en este perfil no se veran reflejados en tu cuenta.
    </p>
  </div>
</UsuarioLayout>
