---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="not fount">
    <section class="flex items-center justify-center flex-col min-h-dvh">
        <h1 class="text-center text-xs md:text-lg">
            Hola, tu pago atrevez de mercadopago ah sido exitoso
        </h1>
    </section>
</Layout>
