---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Fallo el proceso de pago">
    <section
        class="flex items-center pt-20 flex-col min-h-dvh bg-red-100">
        <div
            class="bg-white shadow-lg rounded-lg p-8 w-11/12 md:max-w-2xl text-center">
            <h1 class="text-xl md:text-2xl font-bold text-red-600 mb-4">
                Pago fallido
            </h1>
            <p class="text-gray-700 mb-4 text-sm text-balance">
                Hubo un problema con tu pago. Por favor, revisa la información e
                inténtalo nuevamente.
            </p>
            <div class="text-left mb-4 inline-flex flex-col ">
                <h2 class="text-sm md:text-lg font-semibold mb-2 text-center">
                    ¿Qué puedes hacer?
                </h2>
                <ul class="text-sm list-disc pl-5 text-gray-600">
                    <li>Verifica los datos de tu tarjeta o método de pago</li>
                    <li>Intenta con otro método de pago</li>
                </ul>
            </div>

            <p class="text-sm text-gray-500 mt-4">
                ¿Necesitas ayuda? <a href="https:wa.me//+573208132304" class="text-blue-500 underline"
                    >Contáctanos</a
                >
            </p>
        </div>
    </section>
</Layout>
