---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pago pendiente">
    <section class="flex items-center justify-center flex-col min-h-dvh">
        <h1 class="text-center text-xs md:text-lg">
            Hola, tu pago atrevez de mercadopago esta en un estado de pendiente,
            en breve te informaremos que sucedio
        </h1>
    </section>
</Layout>
