---
import Layout from "@/layouts/Layout.astro";
import Icon from "@/components/icons/404-icon.astro";
---

<Layout title="not fount">
    <section
        class="pt-16 flex items-center mb-20 justify-center flex-col font-font-cust-2">
        <Icon />
        <h1 class="text-center text-xs md:text-lg">
            La ruta a la que esta intentando acceder no existe.
        </h1>
        <a
            href="/"
            class="mt-2 hover:underline text-xs text-center hover:text-blue-500 duration-150 lg:text-lg"
            >Volver al inicio</a
        >
    </section>
</Layout>
