---
import Layout from "@/layouts/Layout.astro";
import { getProductoBy } from "@/services/productos";
const { id } = Astro.params;

let data;
if (id) {
    data = await getProductoBy({ id });
}

console.log(data);
---

<Layout title="detalles">
    <h1>detalles</h1>
</Layout>
