---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Cambios y devoluciones">
    <section class="max-w-80 md:max-w-screen-sm lg:max-w-screen-lg m-auto pt-2">
        <h1 class="font-bold uppercase text-center text-base md:text-lg pt-7">
            Cambios y Devoluciones
        </h1>
        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Condiciones Generales
        </h2>
        <h3 class="text-base font-semibold uppercase">Estado del Producto</h3>
        <ul class="text-sm md:text-base pl-6 text-wrap">
            <li class="list-disc mb-1">
                El producto debe estar en condiciones aptas para su venta, es
                decir, sin uso, sin armar, en el empaque original, con todos los
                catálogos, manuales y piezas.
            </li>
            <li class="list-disc mb-1">
                Debe presentar la tirilla de pago (factura) de compra.
            </li>
            <li class="list-disc mb-1">
                En caso de no contar con ella, puede solicitar una constancia
                y/o certificado de compra.
            </li>
        </ul>

        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Plazo para Cambios
        </h2>
        <ul class="text-sm md:text-base pl-6 text-wrap">
            <li class="list-disc mb-1">
                El plazo máximo para solicitar el cambio de productos es de 30
                días calendario a partir de la fecha de compra.
            </li>
            <li class="list-disc mb-1">
                Para materiales de obra sobrante, el plazo es de 90 días.
            </li>
        </ul>

        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Productos Comprados por Teléfono o Internet
        </h2>
        <ul class="text-sm md:text-base pl-6 text-wrap">
            <li class="list-disc mb-1 text-wrap">
                Si los productos no han sido recibidos, comuníquese a la línea
                de atención en Bogotá al 601 560 5000 o a nivel nacional al
                3208132305.
            </li>
        </ul>
        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Excepciones
        </h2>
        <ul class="text-sm md:text-base pl-6 text-wrap">
            <li class="list-disc mb-1 text-wrap">
                No se aceptarán cambios o devoluciones de productos diseñados,
                cortados o elaborados a medida, bajo especificaciones
                particulares o adquiridos a través de redención de puntos.
            </li>
            <li class="list-disc mb-1 text-wrap">
                La devolución se realizará a través de una nota de devolución
                equivalente al valor real pagado por el producto.
            </li>
        </ul>
        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Devolución Antes de la Entrega
        </h2>
        <p class="text-sm md:text-base mt-2 text-wrap">
            Para hacer efectiva la devolución de dinero de una compra antes de
            la entrega, siga estos pasos:
        </p>
        <ul class="text-sm md:text-base pl-6 text-wrap pb-3">
            <li class="list-disc mb-1 text-wrap">
                Comuníquese a la línea de atención al cliente 3208132305. o en
                Bogotá al 601 560 5000.
            </li>
            <li class="list-disc mb-1 text-wrap">
                Revisaremos el estado de la entrega.
            </li>
            <li class="list-disc mb-1 text-wrap">
                Tomaremos su solicitud y daremos trámite a la devolución del
                valor pagado.
            </li>
        </ul>
    </section>
</Layout>
