---
import Carrusel from "../components/Carrusel.astro";
import Layout from "../layouts/Layout.astro";
import MercadoPago from "../components/icons/MercadoPago.astro";
import Truck from "../components/icons/Truck.astro";
import MasVendidos from "@/components/MasVendidos.astro";
---

<Layout title="Suministros">
  <Carrusel />
  <section>
    <h1
      class="text-sm md:text-xl mx-2 my-3 md:my-4 text-wrap font-semibold text-center lg:pl-16">
      Haz de tu hogar o negocio un espacio unico, aqui encontraras Sanitarios,
      pinturas, lavamanos, cocinas y mas productos para remodelar tus espacios.
    </h1>
    <div class="my-7 mx-auto ]">
      <p
        class="text-xs md:text-base leading-2 font-normal text-balance text-center">
        Somos la marca de remodelación de los colombianos, con una tienda
        virtual para que compres fácil y rápido, con una amplia red de
        distribución por todo el país. Ofrecemos una amplia variedad de
        productos para que puedas encontrar exactamente lo que necesitas:
        pinturas, materiales de construcción y más.
      </p>
    </div>
  </section>
  <section class="flex flex-col w-full mb-3">
    <div class="mx-auto">
      <h2
        class="my-3 text-base md:text-lg text-wrap md:pl-20 lg:pl-0 font-semibold mx-auto">
        Aqui algunos de los productos mas vendidos
      </h2>
      <MasVendidos />
    </div>
    <div class="mx-auto my-7">
      <h2 class="md:text-lg my-2 text-wrap pl-8 md:pl-0 font-semibold mx-auto">
        Tambien puedes visitar nuestras categorias de productos
      </h2>
      <div
        class="flex flex-wrap justify-center md:flex-row gap-2 md:gap-5 lg:gap-7">
        <a
          href="/categoria/Baños"
          class="bg-[url('/banios.webp')] w-40 h-32 lg:min-w-64 lg:min-h-52 flex items-end justify-center text-base md:text-2xl pb-2 md:pb-4 drop-shadow-lg drop-sahdow-gray-400 hover:shadow-sm duration-100 hover:text-black text-white bg-cover rounded-lg shadow-md"
          >Baños
        </a>
        <a
          href="/categoria/Cocinas"
          class="bg-[url('/cocinas.webp')] w-40 h-32 lg:min-w-64 lg:min-h-52 flex items-end justify-center text-base md:text-2xl pb-2 md:pb-4 drop-shadow-lg drop-sahdow-gray-400 hover:shadow-sm duration-100 hover:text-black text-white bg-cover rounded-lg shadow-md"
          >Cocinas
        </a>
        <a
          href="/categoria/Construccion-y-remodelacion"
          class="bg-[url('/constr.webp')] w-40 h-32 lg:min-w-64 lg:min-h-52 flex items-end justify-center text-base md:text-2xl pb-2 md:pb-4 drop-shadow-lg drop-sahdow-gray-400 hover:shadow-sm duration-100 hover:text-black text-white bg-cover rounded-lg shadow-md"
          >Contruccion
        </a>
        <a
          href="/categoria/Pisos-y-paredes"
          class="bg-[url('/pisos.webp')] w-40 h-32 lg:w-64 lg:h-52 flex items-end justify-center text-base md:text-2xl pb-2 md:pb-4 drop-shadow-lg drop-sahdow-gray-400 hover:shadow-sm duration-100 hover:text-black text-white bg-cover rounded-lg shadow-md"
          >Pisos
        </a>
      </div>
    </div>

    <div class="flex justify-around">
      <span
        class="flex flex-col text-center justify-center text-xs md:text-sm items-center leading-4 font-semibold">
        <MercadoPago />
        Metodos de pago
        <small class="text-gray-600 text-[10px] md:text-xs"
          >Paga con tarjetas, credito, debito <br /> a través de mercado pago</small
        >
      </span>
      <span
        class="flex justify-center items-center text-xs md:text-sm flex-col font-semibold leading-4">
        <Truck />
        Envios a todo el pais
        <small class="text-gray-600 text-[10px] md:text-xs"
          >Recibe tus compras donde estes</small
        >
      </span>
    </div>
  </section>
</Layout>
