---
import Carrusel from "../components/Carrusel.astro";
import Layout from "../layouts/Layout.astro";
import MercadoPago from "../components/icons/MercadoPago.astro";
import Truck from "../components/icons/Truck.astro";
import MasVendidos from "@/components/MasVendidos.astro";
import SliderIndex from "@/components/SliderIndex.astro";
import ContainerSecctions from "@/components/ContainerSecctions.astro";
---

<Layout title="Suministros">
  <Carrusel />
  <section class="flex flex-col gap-4 my-2">
    <SliderIndex />
  </section>
  <ContainerSecctions>
    <h1
      class="block text-sm md:text-xl mx-2 my-3 md:my-4 text-wrap font-semibold text-center lg:pl-16"
    >
      Haz de tu hogar o negocio un espacio unico
    </h1>
    <p class="text-xs md:text-base/6 font-normal text-wrap py-3 px-3">
      Somos la marca de remodelación de los colombianos, con una tienda virtual
      para que compres fácil y rápido, con una amplia red de distribución por
      todo el país. Aqui encontraras Sanitarios, pinturas, lavamanos, cocinas y
      mas productos para remodelar tus espacios.
    </p>
  </ContainerSecctions>

  <ContainerSecctions>
    <h2
      class="my-1 md:my-3 text-sm md:text-lg text-balance pl-5 md:pl-20 lg:pl-0 font-semibold mx-auto mb-3"
    >
      Estos son algunos de los productos mas vendidos
    </h2>
    <MasVendidos />
  </ContainerSecctions>

  <ContainerSecctions class="mb-14">
    <h3 class="my-2 text-sm md:text-lg font-semibold mx-auto mb-4 px-3">
      Categorias
    </h3>

    <article class="flex flex-wrap md:flex-row gap-3 md:gap-10 justify-center">
      {
        [
          { href: "/categoria/Baños", img: "/banios.webp", text: "Baños" },
          { href: "/categoria/Cocinas", img: "/cocinas.webp", text: "Cocinas" },
          {
            href: "/categoria/Construccion-y-remodelacion",
            img: "/constr.webp",
            text: "Construcción",
          },
          {
            href: "/categoria/Pisos-y-paredes",
            img: "/pisos.webp",
            text: "Pisos",
          },
        ].map(({ href, img, text }) => (
          <a
            href={href}
            aria-label={text}
            class="relative w-40 h-32 lg:w-64 lg:h-52 flex items-end justify-center text-base md:text-2xl pb-2 md:pb-4 text-white bg-cover rounded-lg shadow-md hover:shadow-lg transition duration-150 ease-in-out"
            style={{ backgroundImage: `url(${img})` }}
          >
            <span class="bg-white px-3 text-black rounded-md font-semibold text-lg">
              {text}
            </span>
          </a>
        ))
      }
    </article>
  </ContainerSecctions>

  <ContainerSecctions class="flex justify-around">
    <div
      class="flex flex-col text-center justify-center text-xs md:text-sm items-center leading-4"
    >
      <MercadoPago />
      Metodos de pago
      <small class="text-gray-600 text-[10px] md:text-xs"
        >Paga con tarjetas, credito, debito <br /> a través de mercado pago</small
      >
    </div>
    <div
      class="flex justify-center items-center text-xs md:text-sm flex-col leading-4"
    >
      <Truck />
      Envios a todo el pais
      <small class="text-gray-600 text-[10px] md:text-xs"
        >Recibe tus compras donde estes</small
      >
    </div>
  </ContainerSecctions>
</Layout>
