---
import Carrusel from "../components/Carrusel.astro";
import Layout from "../layouts/Layout.astro";
import MercadoPago from "../components/icons/MercadoPago.astro";
import Truck from "../components/icons/Truck.astro";
import MasVendidos from "@/components/MasVendidos.astro";
import SliderIndex from "@/components/SliderIndex.astro";
import ContainerSecctions from "@/components/ContainerSecctions.astro";
import "@/styles/globals.css";

const items = [
  { href: "/categoria/Baños", img: "/banios.webp", text: "Baños" },
  { href: "/categoria/Cocinas", img: "/cocinas.webp", text: "Cocinas" },
  {
    href: "/categoria/Construccion-y-remodelacion",
    img: "/constr.webp",
    text: "Construcción",
  },
  {
    href: "/categoria/Pisos-y-paredes",
    img: "/pisos.webp",
    text: "Pisos",
  },
];
---

<Layout title="Suministros">
  <Carrusel />
  <section class="flex flex-col gap-4 my-2">
    <SliderIndex />
  </section>
  <ContainerSecctions>
    <h2 class="text-lg text-pretty px-2 md:px-0 md:text-xl font-bold mb-2">
      Haz de tu hogar o negocio un espacio único
    </h2>
    <p class="text-gray-600 text-sm md:text-base px-2 text-pretty leading-1">
      Somos la marca de remodelación de los colombianos, con una tienda virtual
      que te permite comprar fácil y rápido. Explora sanitarios, pinturas,
      lavamanos, cocinas y más.
    </p>
  </ContainerSecctions>

  <section class="mt-3">
    <div class="text-center mb-6">
      <h3 class="text-lg md:text-xl font-semibold">Productos más vendidos</h3>
    </div>
    <MasVendidos />
  </section>

  <section class="py-10 bg-white">
    <div class="text-center mb-6">
      <h3 class="text-lg md:text-xl font-semibold">Categorías</h3>
    </div>
    <div class="flex flex-col md:flex-row gap-6 max-w-6xl mx-auto px-4">
      {
        items.map((item) => (
          <a href={item.href}>
            <div class="rounded-lg overflow-hidden shadow-md hover:shadow-sm duration-200 transition cursor-pointer bg-red-200 md:min-w-[250px]">
              <img src={item.img} class="w-full h-32 object-cover" />
              <div class="text-center py-2 bg-gray-100 font-semibold text-xm md:text-base">
                {item.text}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>

  <section class="bg-gray-50 py-10">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-12 text-center max-w-4xl mx-auto"
    >
      <div
        class="flex justify-center items-center text-xs md:text-sm flex-col leading-4"
      >
        <MercadoPago class="size-14" />
        <h4 class="font-semibold text-sm">Métodos de pago</h4>
        <p class="text-xs text-gray-500">Tarjetas de crédito, débito y pse</p>
      </div>
      <div
        class="flex justify-center items-center text-xs md:text-sm flex-col leading-4"
      >
        <Truck class="size-14" />
        <h4 class="font-semibold text-sm">Envíos a todo el país</h4>
        <p class="text-xs text-gray-500">Recibe tus compras donde estés</p>
      </div>
    </div>
  </section>
</Layout>
