---
import CardProductos from "@/components/cards/CardProductos.astro";
import Layout from "../layouts/Layout.astro";
import { contenidoOfertas } from "@/content/contenidoSubcategorias";
import { getOfertas } from "@/services/productos";
import type { ApiResponse } from "@/types/types";
import Spiner from "@/components/Spiner.astro";
import BreadCrums from "@/components/BreadCrums.astro";
let ofertas: ApiResponse | null = null;
try {
  ofertas = await getOfertas();
} catch (error) {
  console.error(error);
}
---

<Layout title="Ofertas">
  <section class="px-3 md:px-10 min-h-dvh">
    <BreadCrums pagina={["productos", "ofertas"]} />
    <h1 class="text-lg md:text-xl font-bold uppercase">
      {contenidoOfertas.titulo}
    </h1>
    <h2 class="text-base md:text-lg font-bold pt-2">
      {contenidoOfertas.subTitulo}
    </h2>
    <p class="text-xs md:text-base pt-1">
      {contenidoOfertas.subTitulo}
    </p>
    <div
      class="flex flex-wrap justify-center md:justify-start gap-x-3 md:gap-x-8 gap-y-4 py-4 w-full"
    >
      {
        !ofertas ? (
          <div class="flex w-full flex-col items-center justify-center text-center">
            <p class="text-gray-500 text-base my-10">
              No hay ofertas disponibles
            </p>
          </div>
        ) : ofertas && ofertas.productos.length > 0 ? (
          ofertas.productos.map((producto) => <CardProductos {...producto} />)
        ) : (
          <div class="flex w-full flex-col items-center justify-center text-center">
            <Spiner />
            <span class="text-xs text-gray-500 mb-2">
              Cargango productos...
            </span>
          </div>
        )
      }
    </div>
  </section>
</Layout>
