---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Recuperar contraseña">
    <section class="mt-16">
        <p>Olvide mi contraseña</p>
    </section>
</Layout>
