---
import ForgotPassword from "@/components/auth/ForgotPassword";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recuperar contraseña">
    <section class="py-16 bg-[#f4f4f4]">
        <div
            class="bg-white md:w-[70%] mx-auto flex flex-col justify-center items-center p-4">
            <ForgotPassword client:visible />
        </div>
    </section>
</Layout>
