---
import Layout from "@/layouts/Layout.astro";
import { Steps } from "@/components/Steps";
import DatosPago from "@/components/pago/DatosPago";
import DatosProductos from "@/components/pago/DatosProductos";
const cookies = Astro.cookies;
const authToken = cookies.get("access_token");
const isAuthenticated = authToken !== undefined;
---

<Layout title="Vamos a procesar su pago">
    <div class="pt-16 w-full items-center justify-center px-20">
        <Steps client:only="react" />
    </div>
    <section
        class="pt-10 flex flex-col lg:grid gap-2 w-[90%] m-auto font-font-cust-2 md:grid-cols-col-cust-4">
        <article>
            <div
                class="border w-full bg-[#f4f4f4] py-2 px-3 flex gap-2 items-center">
                <h2 class="font-normal text-base md:text-xl text-center">
                    Ya casi es tuya
                </h2>
            </div>
            <div class="border mt-1 p-2">
                <DatosPago
                    client:only="react"
                    isAuthenticated={isAuthenticated}
                />
            </div>
        </article>
        <article>
            <div class="w-full bg-[#f4f4f4] border py-2 px-3">
                <h2 class="font-normal text-base md:text-xl">
                    Resumen de tu compra
                </h2>
            </div>
            <div class="border mt-1 p-2 bg-white">
                <div class="p-1">
                    <DatosProductos client:only="react" />
                </div>
            </div>
        </article>
    </section>
</Layout>
