---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Vamos a procesar su pago">
    <section  class="pt-10  font-font-cust-2 ">
        <h1>Pago de la compa</h1>
    </section>
</Layout>