---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Politica de proteccion de datos">
    <section class="max-w-80 md:max-w-screen-sm lg:max-w-screen-lg m-auto pt-2">
        <h1 class="font-bold uppercase text-center text-base md:text-lg pt-7">
            Política para la Protección de Datos Personales
        </h1>
        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Responsable de las Bases de Datos
        </h2>
        <ul class="text-sm md:text-base pl-6 text-wrap">
            <li class="list-disc mb-1">
                <strong>Empresa:</strong> SUMINISTROS S.A.S
            </li>
            <li class="list-disc mb-1">
                <strong>Nit:</strong> 822101030
            </li>
            <li class="list-disc mb-1">
                <strong>Ciudad:</strong> Bogotá (Colombia)
            </li>
            <li class="list-disc mb-1">
                <strong>Correo electrónico:</strong>{" "}
                tusdatosprotegidos@suministros.co
            </li>
        </ul>
        <p class="text-sm md:text-base mt-2 text-wrap">
            <strong> SUMINISTROS S.A.S</strong>, empresa comprometida con el
            cumplimiento estricto de la normatividad en materia de datos
            personales, ha establecido el presente MANUAL INTERNO DE POLÍTICAS Y
            PROCEDIMIENTOS DEL TRATAMIENTO DE BASES DE DATOS PERSONALES. Este
            manual contendrá a nivel general los derechos que les asisten a los
            titulares de los datos públicos, semipúblicos, privados y sensibles,
            el tratamiento y los mecanismos para hacer valer sus derechos
            conforme a la normatividad vigente.
        </p>
        <p class="text-sm md:text-base mt-2 text-wrap">
            SUMINISTROS S.A.S es la responsable del tratamiento de datos
            personales y en cumplimiento de lo establecido en el artículo 13 del
            Decreto Reglamentario 1377 de 2013, adopta y hace público a todos
            los interesados el presente manual, el cual contiene todos los
            elementos esenciales, sencillos y seguros para el cumplimiento de la
            legislación correspondiente a la protección de datos personales.
            Asimismo, el presente manual servirá como material de consulta para
            todos aquellos sectores interesados o que sostengan algún tipo de
            relación con nuestra empresa, contribuyendo así al correcto
            conocimiento del derecho fundamental a la protección de datos
            personales y el adecuado funcionamiento del tratamiento de datos en
            diferentes ámbitos de aplicación.
        </p>

        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Ley Aplicable
        </h2>
        <article class="col-12 mb-4">
            <p>
                El presente “MANUAL” ha sido desarrollado bajo lo dispuesto en
                los artículos 15 y 20 de la Constitución Política de Colombia,
                que consagran el derecho fundamental al Habeas Data, la Ley 1581
                de 2012 «por la cual se dictan disposiciones generales para la
                protección de datos personales» y el Decreto 1377 de 2013 «por
                el cual se reglamenta parcialmente la Ley 1581 de 2012» y el
                Decreto 090 del 2018 «por el cual se reglamenta las empresas que
                están obligadas a reportar las bases ante la SIC».
            </p>
            <p>
                La Ley Estatutaria 1581 de 2012, por la cual se dictan
                disposiciones generales para la protección de datos personales,
                tiene por objeto desarrollar el derecho constitucional que
                tienen todas las personas a conocer, actualizar y rectificar las
                informaciones que se hayan recogido sobre ellas en bases de
                datos o archivos, y los demás derechos, libertades y garantías
                constitucionales a que se refiere el artículo 15 de la
                Constitución Política; así como el derecho a la información
                consagrado en el artículo 20 de la misma.
            </p>
        </article>

        <h2 class="font-bold uppercase text-base md:text-lg mt-4">
            Ámbito de Aplicación
        </h2>
        <article>
            <p class="text-sm md:text-base mt-2 text-wrap">
                Los principios y disposiciones contenidas en EL MANUAL serán
                aplicables a los datos personales registrados en las bases de
                datos de naturaleza pública o privada, sobre las cuales
                SUMINISTROS S.A.S desarrolle tratamiento o sea responsable, en
                los términos de la Ley 1581 de 2012 y sus decretos
                reglamentarios y demás normatividad que la complemente,
                modifique o derogue.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap">
                Para este fin y de acuerdo con lo establecido en el art. 18
                literal f de la referida ley, SUMINISTROS S.A.S adopta este
                manual interno de políticas y procedimientos para garantizar el
                adecuado cumplimiento de la Ley 1581 de 2012 y, en especial,
                para la atención de consultas y reclamos por parte de los
                titulares de los datos personales.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap">
                Las políticas y procedimientos consagrados en este manual se
                aplicarán a SUMINISTROS S.A.S, incluyendo sus puntos de venta,
                almacenes, sedes, aplicativos móviles y tienda online.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap">
                Los presentes términos y condiciones aplican para cualquier
                registro de datos personales realizado de forma presencial, no
                presencial y/o virtual, telefónica, de registros de ingreso o
                para la vinculación a cualquier producto, servicio o beneficio
                prestado por SUMINISTROS S.A.S.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap pb-3">
                SUMINISTROS S.A.S se encarga directamente del tratamiento de los
                datos personales; sin embargo, se reserva el derecho a delegar
                en un tercero tal tratamiento exigiendo al encargado la atención
                e implementación de los lineamientos y procedimientos idóneos
                para la protección de los datos personales, garantizando una
                protección adecuada y la estricta confidencialidad por acuerdo
                suscrito de los mismos.
            </p>
        </article>
    </section>
</Layout>
