---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
    <section class="max-w-80 md:max-w-screen-sm lg:max-w-screen-lg m-auto pt-3">
        <h1 class="font-bold uppercase text-center text-base md:text-lg">Sobre suministros</h1>
        <article>
            <p class="text-sm md:text-base mt-2 text-wrap">
                <strong class="text-blue-700 uppercase">Suministros</strong> una empresa colombiana conocida por
                su compromiso en proveer productos esenciales para diversas industrias, en esta ocacion nos
                complace anunciar una emocionante renovación de su identidad
                corporativa. Este cambio refleja nuestra firme dedicación a la innovación
                y nuestra constante búsqueda de mejores formas de satisfacer las
                necesidades de nuestros clientes y socios comerciales. La nueva imagen
                de Suministros captura la dinámica y la vitalidad de nuestra empresa
                en el contexto actual, sin renunciar a nuestra promesa de calidad
                ni a nuestra marca que han sido los pilares de nuestro éxito durante
                años. Esta transformación abarca nuestra presencia en línea y redefine
                completamente nuestra estrategia publicitaria, dándonos una identidad
                fresca, audaz y preparada para el futuro.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap">
                Nuestro nuevo logotipo conserva los colores corporativos que nos
                identifican y presenta un distintivo símbolo que representa
                nuestro compromiso constante con la excelencia en el suministro
                de productos esenciales para la construccion o remoldelacion de
                tus espeacios. Estamos emocionados por esta nueva etapa y
                confiamos en que esta transformación nos permitirá mantener y
                fortalecer nuestra posición como líderes en el suministro de
                productos esenciales para la remodelacion y construccion de
                espacions familiares y coorporativos, estando preparados para
                los desafíos y oportunidades que nos aguardan.
            </p>
        </article>
        <h2 class="text-center font-bold uppercase text-md md:text-base mt-3">Mision</h2>
        <article>
            <div class="contenedor-mision">
                <p class="text-sm md:text-base mt-2 text-wrap">
                    Nuestra misión es ser el socio de confianza y el proveedor
                    líder de productos esenciales para diversas industrias.
                    Estamos dedicados a satisfacer las necesidades de nuestros
                    clientes y socios comerciales al proporcionar productos de
                    la más alta calidad, un servicio excepcional y soluciones
                    innovadoras.{" "}
                    <br />
                    Nos esforzamos por mantener y fortalecer relaciones sólidas y
                    duraderas con nuestros clientes, basadas en la integridad, la
                    confiabilidad y la excelencia en el servicio.
                </p>
            </div>
        </article>
        <h2 class="text-center font-bold uppercase text-md md:text-base mt-3">Objetivos de calidad</h2>
        <article>
            <p class="text-sm md:text-base mt-2 text-wrap">
                En Suministros, estamos comprometidos con la entrega de
                productos y servicios de la más alta calidad. Esto implica
                cumplir con los estándares de calidad establecidos y superar las
                expectativas de nuestros clientes.
            </p>
            <p class="text-sm md:text-base mt-2 text-wrap pb-3">
                La satisfacción del cliente es nuestra principal prioridad.
                Trabajamos para comprender las necesidades de nuestros clientes
                y asegurarnos de que sus expectativas se cumplan en todos los
                aspectos de nuestra operación.
            </p>
        </article>
    </section>
</Layout>
"
