---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
    <section class="max-w-80 md:max-w-screen-sm lg:max-w-screen-lg m-auto pt-3 min-h-dvh">
        <h1 class="font-bold uppercase text-center text-sm md:text-base pt-14">
            Sobre suministros
        </h1>
        <article>
            <p class="text-xs md:text-sm mt-4 text-wrap leading-4">
                <strong class=" uppercase">Suministros</strong> una
                empresa colombiana conocida por su compromiso en proveer productos
                esenciales para diversas industrias, en esta ocacion nos complace
                anunciar una emocionante renovación de su identidad corporativa.
                Este cambio refleja nuestra firme dedicación a la innovación y nuestra
                constante búsqueda de mejores formas de satisfacer las necesidades
                de nuestros clientes y socios comerciales. La nueva imagen de Suministros
                captura la dinámica y la vitalidad de nuestra empresa en el contexto
                actual, sin renunciar a nuestra promesa de calidad ni a nuestra marca
                que han sido los pilares de nuestro éxito durante años. Esta transformación
                abarca nuestra presencia en línea y redefine completamente nuestra
                estrategia publicitaria, dándonos una identidad fresca, audaz y preparada
                para el futuro.
            </p>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                Nuestro nuevo logotipo conserva los colores corporativos que nos
                identifican y presenta un distintivo símbolo que representa
                nuestro compromiso constante con la excelencia en el suministro
                de productos esenciales para la construccion o remoldelacion de
                tus espeacios. Estamos emocionados por esta nueva etapa y
                confiamos en que esta transformación nos permitirá mantener y
                fortalecer nuestra posición como líderes en el suministro de
                productos esenciales para la remodelacion y construccion de
                espacions familiares y coorporativos, estando preparados para
                los desafíos y oportunidades que nos aguardan.
            </p>
        </article>

        <article>
            <h2 class=" font-bold uppercase text-xs md:text-sm mt-3">
                Mision
            </h2>
            <div class="contenedor-mision">
                <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                    Nuestra misión es ser el socio de confianza y el proveedor
                    líder de productos esenciales para diversas industrias.
                    Estamos dedicados a satisfacer las necesidades de nuestros
                    clientes y socios comerciales al proporcionar productos de
                    la más alta calidad, un servicio excepcional y soluciones
                    innovadoras.
                    <br />
                    Nos esforzamos por mantener y fortalecer relaciones sólidas y
                    duraderas con nuestros clientes, basadas en la integridad, la
                    confiabilidad y la excelencia en el servicio.
                </p>
            </div>
        </article>
       
        <article>
            <h2 class=" font-bold uppercase text-xs md:text-sm mt-3">
                Objetivos de calidad
            </h2>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                En Suministros, estamos comprometidos con la entrega de
                productos y servicios de la más alta calidad. Esto implica
                cumplir con los estándares de calidad establecidos y superar las
                expectativas de nuestros clientes.
            </p>
            <p class="text-xs md:text-sm mt-2 text-wrap pb-3 leading-4">
                La satisfacción del cliente es nuestra principal prioridad.
                Trabajamos para comprender las necesidades de nuestros clientes
                y asegurarnos de que sus expectativas se cumplan en todos los
                aspectos de nuestra operación.
            </p>
        </article>
      
        <article>
            <h2 class="font-bold uppercase text-xs md:text-sm mt-3">
                Uso de Productos de Terceros
            </h2>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                En nuestra tienda, ofrecemos una selección de productos de
                terceros que son utilizados con fines educativos y no
                comerciales. Queremos destacar que estos productos no son de
                nuestra propiedad y han sido seleccionados por su calidad y
                relevancia en el enfoque de la tienda suministros.
            </p>

            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                Este proyecto surge como parte del desarrollo de una formación
                tecnológica en análisis y desarrollo de software, donde buscamos
                aprender a como brindar soluciones efectivas a problemas del
                mundo real.
            </p>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                Respetamos los derechos de las marcas y tiendas de los productos
                que exhibidos en esta tienda. Si alguna de las marcas o
                propietarios de los productos tiene alguna inquietud o desea que
                se retire un artículo, estamos completamente dispuestos a
                cumplir con su solicitud de inmediato.
            </p>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4">
                Para más información sobre el propósito de este proyecto o
                cualquier consulta adicional, no dudes en contactarnos.
            </p>
            <h4 class="pt-2 font-semibold">Sobre el Desarrollador</h4>
            <p class="text-xs md:text-sm mt-2 text-wrap leading-4 mb-4">
                Mi nombre es Carlos, soy estudiante y desarrollador de software.
                Estoy comprometido con la creación de soluciones tecnológicas y
                la formación continua en el ámbito del desarrollo. Si tienes
                alguna pregunta o deseas colaborar, ¡no dudes en <a
                    class="underline text-blue-600 font-semibold"
                    href="mailto:dominguez5493.cd@gmail.com"
                    >contactarme!
                </a>
            </p>
        </article>
    </section>
</Layout>
