---
import Person from "../icons/Person.astro";
---

<!-- Button trigger modal for Person -->
<button type="button" data-bs-toggle="modal" data-bs-target="#personModal">
    <Person />
</button>

<!-- Custom Background for Person Modal -->
<div id="person-backdrop" class="fixed inset-0 bg-gray-900/50 z-40 hidden">
</div>

<!-- Modal for Person -->
<div
    class="modal fade"
    id="personModal"
    data-bs-backdrop="false"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="personModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="personModalLabel">
                    Modal title
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button
                >
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    /* Personalizar el fondo del modal para Person */
    #person-backdrop {
        display: none; /* Ocultar por defecto */
    }

    #personModal.show + #person-backdrop {
        display: block; /* Mostrar cuando el modal esté activo */
    }

    .modal {
        z-index: 1059; /* Z-index de Bootstrap para el modal por defecto */
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var personModalEl = document.getElementById("personModal");

        if (personModalEl) {
            personModalEl.addEventListener("show.bs.modal", function (event) {
                var personBackdrop = document.getElementById("person-backdrop");
                if (personBackdrop) {
                    personBackdrop.style.display = "block";
                }
            });

            personModalEl.addEventListener("hide.bs.modal", function (event) {
                var personBackdrop = document.getElementById("person-backdrop");
                if (personBackdrop) {
                    personBackdrop.style.display = "none";
                }
            });
        }
    });
</script>
