---
import Layout from "@/layouts/Layout.astro";
import Detalles from "@/components/tikect/Detalles";
---

<Layout title="Compra realizada con exito">
  <section class="mt-16 container min-h-dvh">
    <article
      class="w-full mx-auto lg:w-[50%] lg:mx-auto p-4 h-auto flex flex-col ticket mb-4">
      <div class="flex items-center justify-center mb-4">
        <h1 class="text-base lg:text-2xl uppercase text-[#80c835]">
          Tu pedido se realizo con exito
        </h1>
      </div>
      <h2
        class="text-xs md:text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 mb-2 text-center">
        Acontinuacion un resumen de tu compra
      </h2>
      <hr class="border-dashed mb-3" />
      <Detalles client:only />
    </article>
  </section>
</Layout>

<style>
  .ticket {
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin: 10px auto 0;
    padding: 20px;
    box-shadow: 0px 0px 10px #a7a7a7;
    background: #fbfbfb;
    padding: 20px;
  }

  .ticket::before,
  .ticket::after {
    content: "";
    position: absolute;
    left: 5px;
    height: 6px;
    width: 100%;
  }

  .ticket::before {
    top: -5px;
    background: radial-gradient(
        circle,
        transparent,
        transparent 50%,
        #fbfbfb 50%,
        #fbfbfb 100%
      ) -7px -8px / 16px 16px repeat-x;
  }

  .ticket::after {
    bottom: -5px;
    background: radial-gradient(
        circle,
        transparent,
        transparent 50%,
        #fbfbfb 50%,
        #fbfbfb 100%
      ) -7px -2px / 16px 16px repeat-x;
  }
</style>
