---
import SubMenu from "./SubMenu.astro";
import Buscador from "../buscador/Buscador";
import CarritoPageNav from "../carritoDecompras/CarritoPageNav";
import AuthNone from "./AuthNone";
import AuthSucces from "./AuthSuccess";
import Offcanvas from "./Offcanvas.astro";
import { Localitation } from "../Localitation";
const cookies = Astro.cookies;
const authToken = cookies.get("access_token");
const isAuthenticated = authToken !== undefined;
---

<nav
  class="border-gray-200 dark:bg-gray-900 dark:border-gray-700 w-full fixed top-0 z-10 bg-white">
  <div class="flex flex-wrap items-center justify-between py-3 px-3">
    <Offcanvas />
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../../logo.webp" class="h-7 md:h-11" alt="Flowbite Logo" />
    </a>
    <div class="hidden md:block w-[37%]">
      <Buscador client:visible />
    </div>
    <!-- Icons -->
    <div class="flex gap-1 md:gap-4">
      <span class="flex items-end md:hidden">
        <Localitation client:visible />
      </span>
      {
        isAuthenticated ? (
          <AuthSucces client:visible />
        ) : (
          <AuthNone client:visible />
        )
      }
      <CarritoPageNav client:visible />
    </div>
  </div>
  <hr class="text-gray-500" />
  <div
    class="py-1 md:py-2 md:px-2 w-full shadow-md lg:px-10 justify-between hidden md:flex submenu-items">
    <SubMenu />
  </div>
</nav>
