---
interface Props {
    ruta: string;
    nombre: string;
}

const { ruta, nombre } = Astro.props;
---

<a
    href=`/categoria/${ruta}`
    class="hover:text-gray-500 font-semibold text-gray-700 text-xs lg:text-sm px-3 py-2.5 text-center inline-flex items-center"
    type="button">
    {nombre}
    <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6">
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"></path>
    </svg>
</a>
