
<div
  id="sidebar"
  class="fixed top-[60px] left-0 z-20 w-64 h-[calc(100vh-60px)] bg-white shadow-lg transition-transform duration-300 ease-in-out transform -translate-x-full md:hidden"
>
  <div
    id="accordion-color"
    data-accordion="collapse"
    data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white"
  >
    <h2 id="accordion-color-heading-1">
      <button
        type="button"
        class="flex items-center py-2 px-1 justify-between w-full rounded-sm font-medium rtl:text-right text-gray-500 border-gray-500 dark:text-gray-400 gap-3"
        data-accordion-target="#accordion-color-body-1"
        aria-expanded="false"
        aria-controls="accordion-color-body-1"
      >
        <span class="text-sm pl-2">Baños</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-color-body-1"
      class="hidden"
      aria-labelledby="accordion-color-heading-1"
    >
      <ul class="pl-3 text-sm">
        <li class="pb-2">
          <a href="/subcategoria/sanitarios">Sanitarios</a>
        </li>
        <li class="pb-2">
          <a href="/subcategoria/griferias">Griferias</a>
        </li>
        <li class="pb-2"><a href="/subcategoria/espejos">Espejos</a></li>
      </ul>
    </div>

    <h2 id="accordion-color-heading-2">
      <button
        type="button"
        class="flex items-center py-2 px-1 justify-between w-full rounded-sm font-medium rtl:text-right text-gray-500 border-gray-500 dark:text-gray-400 gap-3"
        data-accordion-target="#accordion-color-body-2"
        aria-expanded="false"
        aria-controls="accordion-color-body-2"
      >
        <span class="text-sm pl-2">Cocinas</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-color-body-2"
      class="hidden"
      aria-labelledby="accordion-color-heading-2"
    >
      <ul class="pl-3 text-sm">
        <li class="pb-2">
          <a href="/subcategoria/lavaplatos">Lavaplatos</a>
        </li>
        <li class="pb-2">
          <a href="/subcategoria/lavaderos">Lavaderos</a>
        </li>
      </ul>
    </div>

    <!--  -->
    <h2 id="accordion-color-heading-3">
      <button
        type="button"
        class="flex items-center py-2 px-1 justify-between w-full rounded-sm font-medium rtl:text-right text-gray-500 border-gray-500 dark:text-gray-400 gap-3"
        data-accordion-target="#accordion-color-body-3"
        aria-expanded="false"
        aria-controls="accordion-color-body-3"
      >
        <span class="text-sm pl-2">Construccion/remodelacion</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-color-body-3"
      class="hidden"
      aria-labelledby="accordion-color-heading-3"
    >
      <ul class="pl-3 text-sm">
        <li class="pb-2"><a href="/subcategoria/pinturas">Pinturas</a></li>
        <li class="pb-2"><a href="/subcategoria/pegantes">Pegantes</a></li>
        <li class="pb-2">
          <a href="/subcategoria/limpiadores">Limpiadores</a>
        </li>
      </ul>
    </div>

    <!--  -->
    <h2 id="accordion-color-heading-4">
      <button
        type="button"
        class="flex items-center py-2 px-1 justify-between w-full rounded-sm font-medium rtl:text-right text-gray-500 border-gray-500 dark:text-gray-400 gap-3"
        data-accordion-target="#accordion-color-body-4"
        aria-expanded="false"
        aria-controls="accordion-color-body-4"
      >
        <span class="text-sm pl-2">Pisos/paredes</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-color-body-4"
      class="hidden"
      aria-labelledby="accordion-color-heading-4"
    >
      <ul class="pl-3 text-sm text-gray-700">
        <li class="pb-2">
          <a href="/subcategoria/pisosceramicos">Pisos</a>
        </li>
        <li class="pb-2">
          <a href="/subcategoria/paredes">Paredes</a>
        </li>
      </ul>
    </div>

    <h2 id="accordion-color-heading-5">
      <button
        type="button"
        class="flex items-center py-2 px-1 justify-between w-full rounded-sm font-medium rtl:text-right text-gray-500 border-gray-500 dark:text-gray-400 gap-3"
        aria-expanded="false"
      >
        <span class="text-sm pl-2 text-blue-700 font-semibold uppercase"
          ><a href="/ofertas"> Ofertas </a></span
        >
      </button>
    </h2>
  </div>
</div>
