<a class="flex flex-col items-center cursor-pointer" href="/profile/nombre">
    <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-box-seam w-8 h-8 md:w-11 md:h-11"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#2c3e50"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3l8 4.5v9l-8 4.5l-8 -4.5v-9l8 -4.5"></path>
        <path d="M12 12l8 -4.5"></path>
        <path d="M8.2 9.8l7.6 -4.6"></path>
        <path d="M12 12v9"></path>
        <path d="M12 12l-8 -4.5"></path>
    </svg> -->
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-box-seam w-8 h-8 md:w-11 md:h-11"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#2c3e50"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
            d="M11.5 21h-2.926a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304h11.339a2 2 0 0 1 1.977 2.304l-.5 3.248"
        ></path>
        <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
        <path d="M15 19l2 2l4 -4"></path>
    </svg>
    <small
        class="text-[7px] md:text-[8px] uppercase font-semibold hover:scale-110 duration-100"
        >Compras</small
    >
</a>
