


<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center  ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
 
 <aside id="logo-sidebar" class="fixed md:hidden top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="flex flex-col">
         <li>
             <a href="">
                 <button
                     id="dropdownHoverButton1"
                     data-dropdown-toggle="dropdownHover1"
                     data-dropdown-trigger="hover"
                     class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center"
                     type="button"
                 >
                     Baños
                     <svg
                         class="w-2.5 h-2.5 ms-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 10 6"
                     >
                         <path
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             d="m1 1 4 4 4-4"></path>
                     </svg>
                 </button>

                 <!-- Dropdown menu -->
                 <div
                     id="dropdownHover1"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                 >
                     <ul
                         class="py-2 text-sm text-gray-700 dark:text-gray-200"
                         aria-labelledby="dropdownHoverButton1"
                     >
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Sanitarios</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Griferias</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Eespejos</a>
                         </li>
                       
                     </ul>
                 </div>
             </a>
         </li>
         <li>
             <a href="">
                 <button
                     id="dropdownHoverButton2"
                     data-dropdown-toggle="dropdownHover2"
                     data-dropdown-trigger="hover"
                     class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center"
                     type="button"
                 >
                     Cocinas
                     <svg
                         class="w-2.5 h-2.5 ms-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 10 6"
                     >
                         <path
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             d="m1 1 4 4 4-4"></path>
                     </svg>
                 </button>

                 <!-- Dropdown menu -->
                 <div
                     id="dropdownHover2"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                 >
                     <ul
                         class="py-2 text-sm text-gray-700 dark:text-gray-200"
                         aria-labelledby="dropdownHoverButton2"
                     >
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Lavaplatos</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Lavaderos</a>
                         </li>
                        
                     </ul>
                 </div>
             </a>
         </li>
         <li>
             <a href="">
                 <button
                     id="dropdownHoverButton3"
                     data-dropdown-toggle="dropdownHover3"
                     data-dropdown-trigger="hover"
                     class="focus:ring-0 focus:outline-none focus:ring-indigo-50 font-medium hover:text-gray-500 rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center"
                     type="button"
                 >
                    Construccion / remodelacion
                     <svg
                         class="w-2.5 h-2.5 ms-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 10 6"
                     >
                         <path
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             d="m1 1 4 4 4-4"></path>
                     </svg>
                 </button>

                 <!-- Dropdown menu -->
                 <div
                     id="dropdownHover3"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                 >
                     <ul
                         class="py-2 text-sm text-gray-700 dark:text-gray-200"
                         aria-labelledby="dropdownHoverButton3"
                     >
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Pinturas</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Pegantes</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Limpiadores</a>
                         </li>
                        
                     </ul>
                 </div>
             </a>
         </li>
         <li>
             <a href="">
                 <button
                     id="dropdownHoverButton4"
                     data-dropdown-toggle="dropdownHover4"
                     data-dropdown-trigger="hover"
                     class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-sm pl-3 pr-5 py-2.5 text-center inline-flex items-center"
                     type="button"
                 >
                     Pisos / paredes
                     <svg
                         class="w-2.5 h-2.5 ms-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 10 6"
                     >
                         <path
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             d="m1 1 4 4 4-4"></path>
                     </svg>
                 </button>

                 <!-- Dropdown menu -->
                 <div
                     id="dropdownHover4"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                 >
                     <ul
                         class="py-2 text-sm text-gray-700 dark:text-gray-200"
                         aria-labelledby="dropdownHoverButton4"
                     >
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Pisos ceramicos</a>
                         </li>
                         <li>
                             <a
                                 href="#"
                                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                 >Paredes</a>
                         </li>
                        
                     </ul>
                 </div>
             </a>
         </li>
         <li class="text-blue-600 pl-3 font-bold text-sm hover:text-blue-400 duration-100 ease-in-out">
             <a href="">OFERTAS</a>
         </li>
     </ul>
    </div>
 </aside>
 
 
 