<div>
    <ul class="flex items-center">
        <li class="relative">
            <a
                href="/Baños"
                class="focus:ring-0 cursor-pointer focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-xs lg:text-sm px-3 py-2.5 text-center inline-flex items-center"
                type="button"
            >
                Baños
                <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"></path>
                </svg>
            </a>

            <!-- Dropdown menu -->
            <div
                id="drop-1"
                class="bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Sanitarios</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Griferias</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Eespejos</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li class="relative">
            <a
                href="/Cocinas"
                class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-xs lg:text-sm px-3 py-2.5 text-center inline-flex items-center"
                type="button"
            >
                Cocinas
                <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"></path>
                </svg>
            </a>

            <!-- Dropdown menu -->
            <div
                id="drop-2"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Lavaplatos</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Lavaderos</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li class="relative">
            <a
                href="/Contruccion-y-remodelacion"
                class="focus:ring-0 focus:outline-none focus:ring-indigo-50 font-medium hover:text-gray-500 rounded-lg text-xs lg:text-sm px-3 py-2.5 text-center inline-flex items-center"
                type="button"
            >
                Construccion / remodelacion
                <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"></path>
                </svg>
            </a>
            <!-- Dropdown menu -->
            <div
                id="drop-3"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
                <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownHoverButton3"
                >
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Pinturas</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Pegantes</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Limpiadores</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a
                href="/Pisos-y-paredes"
                class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-xs lg:text-sm pl-3 pr-5 py-2.5 text-center inline-flex items-center"
                type="button"
            >
                Pisos / paredes
                <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"></path>
                </svg>
            </a>

            <!-- Dropdown menu -->
            <div
                id="drop-4"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
                <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownHoverButton4"
                >
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Pisos ceramicos</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Paredes</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li
            class="text-blue-600 font-bold  hover:text-blue-400 duration-100 ease-in-out"
        >
            <a href="/Ofertas" class='text-xs lg:text-sm'>OFERTAS</a>
        </li>
    </ul>
</div>
<div>
    <ul>
        <li class="relative">
            <a
                href=""
                class="focus:ring-0 focus:outline-none focus:ring-indigo-50 hover:text-gray-500 font-medium rounded-lg text-xs lg:text-sm px-3 py-2.5 text-center inline-flex items-center"
                type="button"
            >
                Medios de pago
                <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"></path>
                </svg>
            </a>

            <!-- Dropdown menu -->
            <div
                id="drop-5"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
                <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownHoverButton"
                >
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Dashboard</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Settings</a
                        >
                    </li>
                </ul>
            </div>

            <style>
                #drop-1,
                #drop-2,
                #drop-3,
                #drop-4,
                #drop-5 {
                    display: none;
                    position: absolute;
                    z-index: 1;
                }

                li:hover #drop-1,
                li:hover #drop-2,
                li:hover #drop-3,
                li:hover #drop-4,
                li:hover #drop-5 {
                    display: block;
                }
            </style>
        </li>
    </ul>
</div>
