<div class="cotainer-btn-whatsapp">
    <div class="content-num">
        <span>1</span>
    </div>
    <div class="content">
        <a
            href="https://wa.me/573208132304"
            target="_blank"
            rel="noopener noreferrer">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-whatsapp stroke-white"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                <path
                    d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                ></path>
            </svg>
        </a>
    </div>
</div>

<style>
    .cotainer-btn-whatsapp {
        position: fixed;
        right: 20px;
        top: 80%;
        z-index: 1000;
        padding: 20px;
    }
    .content-num {
        position: absolute;
        top: 10px;
        z-index: 2;
        right: 25px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 7px;
        font-size: 0.75rem;
        font-weight: bold;
    }
    .content-num span {
        display: block;
        text-align: center;
    }
    .content {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        border-radius: 50%;
        background-color: rgb(37, 211, 102);
        box-shadow: 0 0 10px 1px rgb(206, 206, 206);
    }
    .content .icon-w {
        font-size: 40px;
        color: white;
    }
</style>
