---
import IconWh from "./icons/IconWh.astro";
---

<div class="cotainer-btn-whatsapp">
    <div class="content-num">
        <span>1</span>
    </div>
    <div class="content">
        <a
            href="https://wa.me/573208132304"
            target="_blank"
            rel="noopener noreferrer">
           <IconWh/>
           <span class="sr-only">Escibremos a la linea de whatsapp</span>
        </a>
    </div>
</div>

<style>
    .cotainer-btn-whatsapp {
        position: fixed;
        right: 20px;
        top: 80%;
        z-index: 1000;
        padding: 20px;
    }
    .content-num {
        position: absolute;
        top: 10px;
        z-index: 2;
        right: 25px;
        background-color: rgb(228, 22, 22);
        color: white;
        border-radius: 50%;
        padding: 1px 7px;
        font-size: 0.75rem;
        font-weight: bold;
    }
    .content-num span {
        display: block;
        text-align: center;
    }
    .content {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        border-radius: 50%;
        transition: all ease 0.3s;
        background-color: rgb(37, 211, 102);
        &:hover {
            box-shadow: 0 0 10px rgb(241, 240, 240);
        }
    }
    .content .icon-w {
        color: white;
    }
</style>
