<footer class="bg-white dark:bg-gray-900 font-font-cust-2">
    <div class="mx-auto w-full">
        <hr class="pt-7" />
        <div
            class="flex flex-wrap gap-4 justify-start md:justify-center md:gap-x-12 px-2 py-3 lg:py-8">
            <div>
                <h2
                    class="mb-1 md:mb-4 text-xs md:text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    Servicio al cliente
                </h2>
                <ul
                    class="text-gray-500 flex flex-col gap-y-2 dark:text-gray-400 font-medium text-xs md:text-base">
                    <li>
                        <a href="/Sobre-nosotros" class="hover:underline"
                            >Sobre nosotros</a
                        >
                    </li>
                    <li>
                        <a
                            href="/Cambios-y-devoluciones"
                            class="hover:underline">Cambios y devoluciones</a
                        >
                    </li>
                    <li>
                        <a
                            href="/Politica-de-proteccion-de-datos"
                            class="hover:underline"
                            >Politica de proteccion de datos</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h2
                    class="mb-1 md:mb-4 text-xs md:text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    Lineas de atencion
                </h2>
                <ul
                    class="text-gray-500 flex flex-col gap-y-2 dark:text-gray-400 font-medium text-xs md:text-base">
                    <li>
                        <a class="hover:underline"> +57 601 560 5000</a>
                    </li>
                    <li>
                        <a
                            href="https://wa.me/573208132304"
                            target="_blank"
                            class="hover:underline">
                            3208232305</a
                        >
                    </li>
                    <li>
                        <a
                            href="mailto:dominguez5493.cd@gmaiil.com"
                            class="hover:underline 1">
                            atencionCli@sumi.co</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h2
                    class="mb-1 md:mb-4 text-xs md:text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    Procesos de compra
                </h2>
                <ul
                    class="text-gray-500 flex flex-col gap-y-2 dark:text-gray-400 font-medium text-xs md:text-base">
                    <li>
                        <a href="/Costos-de-envio" class="hover:underline"
                            >Costos y tiempos de envio</a
                        >
                    </li>
                    <li>
                        <a href="/Medios-de-pago" class="hover:underline"
                            >Medio de pago</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h2
                    class="mb-1 md:mb-4 text-xs md:text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    Mi cuenta
                </h2>
                <ul
                    class="text-gray-500 flex flex-col gap-y-2 dark:text-gray-400 font-medium text-xs md:text-base">
                    <li>
                        <a href="/registro" class="hover:underline"
                            >Crear una cuenta en suministros</a
                        >
                    </li>
                    <li>
                        <a href="/Olvide-mi-contraseña" class="hover:underline"
                            >Olvide mi contraseña</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="px-4 py-3 w-full flex justify-center bg-[#253b61] dark:bg-gray-700 md:flex md:items-center">
            <span class="text-sm text-white text-center"
                >© 2024 Suministros
            </span>
        </div>
    </div>
</footer>
