---
import { getMostSalled } from "@/services/productos";
import CardProductos from "@/components/cards/CardProductos.astro";
import { type ApiResponse } from "@/types/types";
import Spiner from "./Spiner.astro";
let masVendidos: ApiResponse | null = null;

try {
  masVendidos = await getMostSalled();
} catch (error) {
  console.error(error);
}
---

<div class="flex flex-wrap md:flex-row justify-center gap-4">
  {
    masVendidos ? (
      masVendidos && masVendidos.productos.length > 0 ? (
        masVendidos.productos.map((producto) => (
          <CardProductos
           {...producto}
          />
        ))
      ) : (
        <Spiner />
      )
    ) : (
      <p class="text-center text-gray-500 text-sm my-5 ">
        No hay productos en el inventario
      </p>
    )
  }
</div>
