---
import CardSlider from "./cards/CardSlider.astro";
import OfertIcon from "./icons/OfertIcon.astro";
import Truck2 from "./icons/Truck2.astro";
import MercadoPagoIcon from "@/components/icons/MercadoPago.astro";
import User from "@/components/icons/User.astro";

const itemsSlider = [
  {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
   {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
   {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
   {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
    {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
    {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
    {
    text: "Ofertas y descuentos en todos los productos",
    icon: OfertIcon,
  },
  {
    text: "Envios a varios destinos nacionales",
    icon: Truck2,
  },
  {
    text: "Opciones de pago a travez de mercado pago",
    icon: MercadoPagoIcon,
  },
  {
    text: "Acompañamiento y asesoria en tuscompras",
    icon: User,
  },
  
];
---

<div
  class="slider w-full mx-auto h-auto overflow-hidden px-10 py-0 rounded-2xl"
>
  <div class="slide-track flex gap-4 mx-0 my-2">
    {
      itemsSlider.map((item) => (
        <CardSlider icon={item.icon} text={item.text} />
      ))
    }
  </div>
</div>

<style>
  .slide-track {
    animation: scroll 100s linear infinite;
    -webkit-animation: scroll 100s linear infinite;
    width: calc(200px * 16);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
      -webkit-animation: translateX(0);
    }
    100% {
      transform: translateX(-100%);
      -webkit-animation: translateX(-100%);
    }
  }
</style>
