---
import { FormResetPassword } from "../../components/forms/FormResetPassword";
import Layout from "../../layouts/Layout.astro";
const { token } = Astro.params;
---

<Layout title="Ingrese su nueva contraseña">
    <section class="py-16 bg-[#f4f4f4]">
        <div
            class="bg-white md:w-[70%] mx-auto flex flex-col justify-center items-center p-4">
            <FormResetPassword client:visible token={token} />
        </div>
    </section>
</Layout>
