---
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import BtnWhatsApp from "@/components/BtnWhatsApp.astro";
const { title } = Astro.props;
import "@/styles/globals.css";

import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Suministros" />

    <meta
      name="description"
      content="Diseña tus espacios únicos. Aqui encontraras pintura, pegantes y accesorios para tu hogar. ¡Haz tu pedido ahora!"
    />

    <meta property="og:url" content="https://santas-tortas.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Suministros" />
    <meta
      property="og:description"
      content="Tienda web con variedad en productos para la remodelacion de tus espacios"
    />
    <meta
      property="og:image"
      content="https://santas-tortas.vercel.app/og.jpg"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Suministros" />
    <meta property="og:locale" content="es_Es" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Suministros - Renueva tus espacios" />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="pt-2 md:mt-24">
      <slot />
    </main>
    <BtnWhatsApp />
  </body><Footer />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
  ></script>
 
</html>
